body{
    margin: 0px;
}

.navbar{
    padding: 5px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 50px;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.75);
}

.logo img{
    width: 320px;
    margin-right: 30px;
}

.navbar-direita div{
    text-transform: uppercase;
    font-weight: 600;
    color: #036;
}

.navbar-direita{
    display: flex;
    align-items: center;
}

.navbar-direita > *{
    padding: 30px;
    text-decoration: none;
}

.introducao div{
    text-transform: uppercase;
    padding: 30px;
    font-size: 40px;
    font-weight: 600;
    font-family: "Gotham";
    color: #00adc7;
}

.introducao{
    display: flex;
    justify-content: space-around;
}

.texto{
    padding: 15px;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin:auto;
    max-width:820px;
    font-family: "Gotham";
    color: #7a7a7a;
}